'context-menu':
  'atom-text-editor': [
    {
      'label': 'Sync PDF'
      'command': 'latex-friend:syncpdf'
    }
    {
      'label': 'Show structure'
      'command': 'latex-friend:showNavigation'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'latex-friend'
      'submenu': [
        {
          'label': 'Sync PDF'
          'command': 'latex-friend:syncpdf'
        }
        {
          'label' : 'Show structure'
          'command' : 'latex-friend:showNavigation'
        }
      ]
    ]
  }
]
