'context-menu':
  'atom-text-editor[data-grammar*="text tex"]': [
    {
      'label': 'Sync PDF'
      'command': 'latex-friend:syncpdf'
    }
    {
      'label': 'Show structure'
      'command': 'latex-friend:showNavigation'
    }
    {
      'label': 'Show structure pane'
      'command': 'latex-friend:showNavigationPane'
    }
    {
      'label': 'Show TODOs'
      'command': 'latex-friend:showTodos'
    }
    {
      'label': 'Insert reference'
      'command': 'latex-friend:insertReference'
    }
    {
      'label': 'Matrix builder'
      'command': 'latex-friend:matrixBuilder'
    }
  ]
'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'latex-friend'
      'submenu': [
        {
          'label': 'Sync PDF'
          'command': 'latex-friend:syncpdf'
        }
        {
          'label' : 'Show structure'
          'command' : 'latex-friend:showNavigation'
        }
        {
          'label' : 'Show structure pane'
          'command' : 'latex-friend:showNavigationPane'
        }
        {
          'label' : 'Show TODOs'
          'command' : 'latex-friend:showTodos'
        }
        {
          'label' : 'Insert reference'
          'command' : 'latex-friend:insertReference'
        }
        {
          'label' : 'Matrix builder'
          'command' : 'latex-friend:matrixBuilder'
        }

      ]
    ]
  }
]
