@import "ui-variables";

.modalNavigation {
  height: 100%;
  overflow: scroll;
}

.navigation {
  a {
    text-decoration: none;
    font-weight:normal;
  }
}

.latex-friend {
}

.level1 {
  :hover {
    background: @background-color-selected
  }
}
.level2 {
  margin-left: 15px;
  :hover {
    background: @background-color-selected
  }
}
.level3 {
  margin-left: 30px;
  :hover {
    background: @background-color-selected
  }
}
.level4 {
  margin-left: 45px;
  :hover {
    background: @background-color-selected
  }
}
